<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tht.k3pler">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <supports-screens
        android:resizeable="true"
        android:smallScreens="false"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:normalScreens="true"
        android:anyDensity="true"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/k3pler_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Transparent">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:excludeFromRecents="true"
            android:taskAffinity=".k3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".ui.ProxyService"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>